fastapi>=0.110
uvicorn[standard]
gunicorn
beanie~=1.29.0
pydantic>=2
python-dotenv~=1.1.0
httpx~=0.28.1
passlib[bcrypt]~=1.7.4
python-jose[cryptography]~=3.5.0
email-validator
loguru~=0.7.3
pymongo
pytest~=8.3.5
pytest-asyncio~=1.0.0
asgi-lifespan~=2.1.0
pytest-cov

motor~=3.7.0
requests~=2.32.4